h1 {
  font-size: 64px;
}

p, li {
  font-size: 32px;
}

img {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
}

table {
  width: 400px;
  height: 300px;
}

table, th, td {
  border: 1px solid black;
}
