body {
  background-color: #000080;
  background-image: url("./assets/bg1.jpg"), url("./assets/bg2.gif");
  background-position: left top, right top;
  background-size: 150px 150px, 150px 150px;
  background-repeat: repeat-y;
  padding: 0 192px 0;
}

header {
  background-color: #4D4DA7;
  text-align: center;
  padding: 20px;
  border: 2px solid white;
}

h1 {
  color: #FFFF00;
  font-weight: bold;
  font-family: Georgia, serif;
  text-shadow: .1em .1em .2em gray;
}

h2 {
  color: #EEE8AA;
  text-transform: uppercase;
  word-spacing: 1em;
  letter-spacing: 0.5em;
  font-size: 12pt;
}

div {
  margin: 20px 24px;
}

ul#menu {
  margin: 0;
  padding: 0;
}

ul#menu > li {
  width: 200px;
  list-style-type: none;
  text-align: center;
  background-color: #4169E1;
  color: #FFFF00;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  font-weight: bold;
  float: left;
}

li > details {
  display: block;
  text-align: left;
  font-weight: normal;
  font-size: 100%;
  background-color: #FFF8DC;
  color: #4B0082;
  border: 1px solid #666;
  border-bottom: 0;
  padding: 5px;
}

details:hover {
  background-color: #FFDEAD;
}

details > p {
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 90%;
  background-color: #EEE8AA;
  color: #2F4F4F;
  border: 1px dashed #999;
  padding: 5px;
}
