html {
  border: 4px solid #2F3030;
}

.body1 {
  background-color: #E0FFFF;
}

h1 {
  font-family: Arial;
  text-align: center;
}

.h1-1 {
  color: #473A35;
}

.img1 {
  margin: 2% 5%;
  float: left;
}

p {
  color: #241B01;
  font-family: Arial;
  font-size: 200%;
  padding: 3% 0
}

#p1 {
  text-align: center;
  font-family: Arial;
  line-height: 48px;
}

#i-red {
  color: #C00000;
}

#b-black {
  color: #000000;
}

hr {
  background-color: #0000CC;
  border: 0 solid black;
  height: 4px;
  width: 92%;
  margin-top: 5%;
}

#p2 {
  float: left;
  width: 34%;
  font-family: Arial;
  line-height: 46px;
  padding: 3% 5%;
}

.img2 {
  right: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 350px;
  height: 300px;
}

a {
  color: #0000FF;
}

a:active {
  color: #A52A2A;
}

a:visited {
  color: #800080;
}

.body2 {
  background-image: url("./images/bg.jpg");
}

.h1-2 {
 color: #0070C0;
 margin-bottom: 5%;
}

#p3 {
  float: left;
  text-align: center;
  font-family: Arial;
  line-height: 48px;
  padding: 8% 20% 8%;
}

.img3 {
  margin: 2% 5%;
  width: 30%;
  height: 30%;
}

marquee {
  margin: 5% 10%;
  float: left;
  width: 35%;
  height: 30%;
}

.img4 {
  width: 100%;
  height: 100%;
}

#p4 {
  text-align: center;
  font-family: Arial;
  line-height: 48px;
  padding: 10% 20%;
}

.img5 {
  margin: 2% 5%;
  width: 30%;
  height: 30%;
  padding: 2% 2%;
}


