@font-face {
  font-family: poppins100;
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
  font-family: poppins200;
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: poppins300;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: poppins400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins500;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins600;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppins700;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: poppins800;
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: poppins900;
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
}

body {
  margin: 0;
  padding: 40px 120px 80px;
  font-family: poppins400;
  font-size: 16px;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin-left: -120px;
  margin-top: -20px;
  padding: 8px 0 8px 120px;
  top: 0;
  background-color: white;
  z-index: 10;
}

header > a {
  display: flex;
}

#navigation {
  float: right;
  display: flex;
  gap: 74px;
  align-items: center;
}

#navigation > a {
  color: #333;
  text-decoration: none;
}

b {
  font-family: poppins600;
  font-weight: normal;
}

.button_container {
  display: flex;
}

.button {
  margin: 0;
  padding: 14px 32px;
  background-color: #2C3878;
  font-family: poppins500;
  color: white;
}

#home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  width: 100%;
}

h1 {
  font-family: poppins700;
  font-weight: normal;
  font-size: 56px;
  margin: 100px 0 0;
}

#home > p {
  font-size: 18px;
  margin: 0;
  width: 33vw;
}

#home > img {
  width: 100%;
}

.block_header {
  display: flex;
  margin: 100px 0 40px;
  width: 50%;
}

h2 {
  font-family: poppins500;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-right: 24px;
  text-transform: uppercase;
}

.hr_container {
  align-items: center;
  width: 100%;
  display: flex;
}

.hr {
  width: 100%;
  height: 2px;
  background-color: black;
}

#portfolio > .content {
  display: flex;
  flex-direction: column;
}

.room_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.room_info:nth-child(even) {
  flex-direction: row-reverse;
}

.room_info > img {
  width: 66%;
}

.room_review {
  width: 24%;
}

.reviewer_info {
  position: absolute;
  background-color: white;
  padding: 17px 52px 17px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
}

.reviewer_info > .text > h4 {
  font-family: poppins600;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.reviewer_info > .text > p {
  margin: 0;
  font-size: 18px;
  color: #9C9C9C;
}

.content div:nth-child(odd) > .reviewer_info {
  margin: 0 0 410px 54vw;
}

.content div:nth-child(even) > .reviewer_info {
  margin: 0 54vw 410px 0;
}

.room_review {
  display: flex;
  flex-direction: column;
}

.room_review > h3 {
  font-family: poppins600;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 20px;
  color: #333;
}

.room_review > p {
  color: #9C9C9C;
  margin: 0 0 40px;
}

#service {
  margin-bottom: 100px;
}

#service > .content > h3 {
  font-family: poppins600;
  font-weight: normal;
  font-size: 36px;
  margin: 0 0 25px;
}

#service > .content > p {
  font-size: 18px;
  color: rgba(156, 156, 156, 1);
  margin: 0 0 40px;
  width: 33vw;
}

.card_list {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 28px;
  gap: 20px;
}

.circle {
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 1);
  width: 63px;
  height: 63px;
}

.card > h4 {
  font-family: poppins600;
  font-weight: normal;
  margin: 0;
}

.card > p {
  font-size: 18px;
  margin: 0;
  color: rgba(156, 156, 156, 1);
}

#contact_invite {
  width: calc(100vw - 240px);
  background-color: rgba(44, 56, 120, 1);
  margin-left: -120px;
  padding: 38px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.div_half_width {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

#contact_invite > .div_half_width > h2 {
  width: 100%;
  color: white;
  font-family: poppins600;
  text-transform: none;
  font-size: 36px;
}

#contact_invite > .div_half_width > p {
  color: rgba(217, 217, 217, 1);
  font-size: 18px;
  margin: 0 0 20px;
}

#contact_invite > div > a {
  text-decoration: none;
}

#contact_invite > .div_half_width > a > .button_container > .button {
  background-color: white;
  color: rgba(51, 51, 51, 1);
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact_info {
  width: 40%;
}

#contact > div > img {
  width: 126px;
  margin: 0 0 12px;
}

#contact > div > h3 {
  margin: 0;
  font-family: poppins600;
  font-weight: normal;
  font-size: 36px;
  color: rgba(51, 51, 51, 1);
}

#contact > div > .text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

#contact > div > .text > .dot {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 100%;
}

#contact > div > .text > p {
  color: rgba(51, 51, 51, 1);
  margin: 0;
  font-size: 18px;
}

#contact > div > div > .field > form {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

#contact > div > div > .field > form > input[type="email"] {
  border: none;
  font-size: 16px;
  padding: 0;
}

#contact > div > div > .field > form > input[type="email"]:focus {
  outline: none;
  border: none;
}

#contact > div > div > .field > form > input[type="submit"] {
  background-image: url("./assets/images/arrow.svg");
  border: 0;
  background-color: #00000000;
  width: 32px;
  height: 32px;
}

#contact > div > div > .field > form > input[type="submit"]:hover {
  cursor: pointer;
}

#contact > div > div > .hr {
  width: 100%;
}

#follow_us {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.icons {
  display: flex;
  gap: 25px;
}

.icons > a {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 100%;
  padding: 5px;
  display: flex;
}

